.font-face-work-sans-regular {
    font-family: "WorkSansRegular"
  }

.font-face-work-sans-semi-bold {
    font-family: "WorkSansSemiBold";
  }




.font-face-syne-extra-bold {
    font-family: "SyneExtraBold";
  }

.font-face-syne-bold {
    font-family: "SyneBold";
}